@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/circular-std-medium-500.ttf');
    font-weight: 500;
}

@import url('http://fonts.cdnfonts.com/css/circular-std?styles=17909');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: #020A18;
}

.container {
    width: 72%;
    margin: 0 auto;
}

.header {
    background: rgba(255, 255, 255, 0.05);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 21px 0;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px;
    margin-right: 15px;
}

.navbar_logo span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #3A68B8;
}

.navbar_links {
    width: 411px;
    display: flex;
    justify-content: space-between;
    margin-left: 83px;
    margin-right: 256px;
}

.navbar_links a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.navbar_button button {
    border: none;
    padding: 13px 25px;
    background: #3A68B8;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.section1 {
    padding: 49px 0 99px 0;
    background-color: rgba(255, 255, 255, 0.035);
}

.section1_wrapper {
    display: flex;
    align-items: center;
    margin-left: 14%;
}

.section1_left {
    width: 500px;
    margin-right: 50px;
}

.section1_left_subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 8px;
}

.section1_left_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.section1_left_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    width: 445px;
    margin-bottom: 45px;
}

.section1_left_buttons {
    display: flex;
    align-items: center;
}

.section1_left_buttons button {
    border: none;
    background: #3A68B8;
    border-radius: 5px;
    padding: 13px 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.section1_left_watch {
    display: flex;
    align-items: center;
}

.section1_left_watch img {
    width: 15px;
    margin-right: 8px;
}

.section1_left_btn {
    margin-right: 20px;
}

.section1_right img {
    width: 600px;
}

.logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.section2 {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 100px 0 150px 0;
}

.section2_wrapper {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.section2_left {
    margin-right: 60px;
}

.section2_left img {
    width: 600px;
}

.section2_right {
    width: 475px;
}

.section2_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.section2_text {
    width: 460px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 45px;
}

.section2_btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 13px 25px;
    border: none;
    background: #3A68B8;
    border-radius: 5px;
}

.section3 {
    background-color: rgba(255, 255, 255, 0.02);
}

.section3 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

}

.section3 .card {
    width: 362px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 10px;
    padding: 47px 30px 30px 30px;
}

.section3 .card img {
    width: 98px;
    display: inline-block;
}

#card_1 img {
    width: 70px;
}

.card_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 30px;
    margin-top: 47px;
}

.card_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #2C3647;
    opacity: 0.4;
}

.circle_center {
    background: #2C3647;
    margin: 0 10px;
    opacity: 1;
}

.section4 {
    padding: 170px 0;
    background-color: rgba(255, 255, 255, 0.02);
}

.section4_wrapper {
    display: flex;
}

.section4_left {
    width: 548px;
}

.section4_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.section4_left p {
    width: 460px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 30px;
}

.section4_right img {
    width: 568px;
}

.footer {
    padding: 77px 146px;
}

.footer_wrapper {
    display: flex;
    align-items: center;
}

.footer .footer_title {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 32px;

}

.footer ul {
    width: 190px;
}


.logo {
    width: 40px;
}
.footer_left{
    margin-right: 9px;
}
.footer_center ul{
    margin-right: 31px;
}
.footer .logo_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #3A68B8;
}

.footer_left li p {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 9px;
    margin-top: 7px;
}
.footer_wrapper ul li {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;

}
.footer_logos img{
    display: inline-block;
    margin-right: 25px;
}
.footer_center{
    display: flex;
}